<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
Estimado/a<br><br>
Te informamos que hemos recibido tu CV / Hoja de Vida a través de un colaborador de Adistec, y ya quedó ingresado a nuestra base de datos. De esta manera, podremos acceder a tus datos cuando tu perfil se ajuste a alguno de nuestros procesos de selección.<br><br>
Agradecemos tu interés en formar parte de Adistec.<br><br>
Saludos,<br><br>
Recursos Humanos<br><br>
Adistec - Distribuidor de Valor Agregado