/*
  Theme : Modern
  Created : 20/04/2018
  Updated : 18/05/2018
*/
.a-theme_modern{

  /* Colors */
  $adistecBlue : #005fab; /*0,95,171*/
  $adistecLightBlue : #008fcb; /*0,143,203*/
  $adistecPaleBlue : lightblue; /*173,216,230*/
  $adistecBlueHovered:lighten($adistecBlue,8);

  $flatLightBlue: $adistecBlueHovered;
  $flatGreen:#2ECC71;
  $flatYellow:#f1c40f;
  $flatRed: #e74c3c;
  $flatOrange:#f39c12;
  $flatGrey:#7f8c8d;

  /* Begin : Gradients */
  .a-solid_lightblue{
    background-color: #EEF6FE;

    h4{
      color:#004A97;
    }
  }
  .a-solid_darkblue{
    background-color: #005490;

    h2{
      color:#FFF;
    }
    h4{
      color:#A8C4DE;
    }
  }
  .a-gradient_blue{
    background: #003a86;
    background: -moz-linear-gradient(-45deg, #003a86 0%, #0070b3 100%);
    background: -webkit-linear-gradient(-45deg, #003a86 0%,#0070b3 100%);
    background: linear-gradient(135deg, #003a86 0%,#0070b3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003a86', endColorstr='#0070b3',GradientType=1 );

    h2{
      color:#FFF;
    }
    h4{
      color:#A8C4DE;
    }
  }
  /* End: Gradients */

  /* Begin : Sections */
  .a-section_intro,
  .a-section_main{
    h2{
      font-size: 44px;
      font-weight:300;
    }
    h4{
      font-size:22px;
      font-weight:300;
    }
  }
  /* End : Sections */

  /* Begin : SingleSelectionList */
  ul.single-selection-list{
    li{
      padding:15px 15px 15px 15px;

      &:hover{
        input[type=radio] {
          &+label{
            @include box_shadow(4);
            transform:translateY(-10px);
          }
        }
      }

      input[type=radio] {

        & + label{
          background-color: #FFF;
          width:100%;
          display:block;
          text-align: left;
          color:#004A97;
          padding: 22px 20px;
          text-transform: none;
          font-weight: 400;
          position:relative;
          @include box_shadow(2);
          @include border_radius(3px);
          font-size:24px;
          opacity: 1;
          border:solid 2px #FFF;
          @include transitionAllCustomTime(200ms);

          &:hover{
            opacity:1;
          }

          .item-icon{
            display: inline-table;
            width: 45px;
            height: 45px;
            text-align: center;
            background-color: #EEF6FE;
            border-radius: 50%;
            margin-right: 15px;
            vertical-align: middle;

            i,span{
              display: table-cell;
              vertical-align: middle;
              text-align: center;

              i,span{
                display:block;
              }
            }
          }
          .item-text{
            display:inline-block;
            vertical-align: middle;
          }
        }

        &:checked + label{
          opacity: 1;
          background-color: #004A97;
          color:#FFF;

          .item-icon{
            color:#004A97;
          }

          &:before{
            display:none;
          }
        }
      }
    }
  }
  /* End : SingleSelectionList */

  /* Begin : FileUpload */
  .file-upload-container {
    button{
      text-transform: none;

      &>div{
        border-color:$adistecBlue !important;
        font-size:18px !important;
        @include border_radius(10px);
        padding:30px !important;

        strong{
          font-weight: 300;
          color:#666666;
        }

        .item-icon{
          display: table;
          width: 45px;
          height: 45px;
          text-align: center;
          background-color: #FFF;
          color: $adistecBlue;
          border-radius: 50%;
          margin: 0 auto;
          margin-bottom: 15px;
          vertical-align: middle;

          i,span{
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
    }
  }
  /* End : FileUpload */

  /* Begin : Buttons */
  .a-btn{
    &.a-btn--border{
      border-style:solid;
      border-width:2px;

      &.a-btn_white{
        border-color:#FFF;
        color:#FFF;
      }
    }
    &.a-btn--pill{
      @include border-radius(50px);
    }

    &.a-btn_md{
      padding: 5px 15px;
      font-size: 14px;
    }
    &.a-btn_strong{
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  /* End : Buttons */

  /* Misc */
  .a-ns-logo{
    font-size: 15px;
    font-weight: 900;
    display: table-cell;
    vertical-align:middle;
  }
  /* Misc */

}
